<body>
<div><h2><b><t1>Welcome to Brick Breaker!</t1></b></h2></div>
<a href="/signup" class="btn btn-primary">Sign up</a>
<div><t1><b>Sign in:</b></t1></div>
<form method="post" action="/" class="login">
  <input id="username" placeholder="Username" name="username">
  <input id="password" placeholder="Password" type="password">
  <button><a href="/" class="btn btn-danger">Login</a></button>
</form>
</body>