<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cyborg/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><t1><b><u><c>Brick Breaker</c></u></b></t1></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li><a href="/play"><b1><b>Play</b></b1></a></li>
        <li><a href="/leaderboard"><t2><b2><b>High Scores</b></b2></t2></a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script>
  // Facebook Authentication
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= ENV['FACEBOOK_CLIENT_ID'] %>",
      xfbml      : true,
      cookie     : true,
      version    : "v2.3"
    });

    $('#facebookSignInBtn').click(function(e) {
      e.preventDefault();

      FB.login(facebookSignInCallback, {scope: 'public_profile'});
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function facebookSignInCallback(authResponse) {
    if (authResponse.status === 'connected') {
      // Logged into your app and Facebook
      $('#signInButtons').attr('style', 'display: none');

      console.log(authResponse);

      $.ajax({
        type: 'POST',
        url: '/auth/facebook/callback',
        success: function() {
          location.reload();
        },
        error: function(response) {
          console.log('There was an error: ' + response.responseText);
        }
      });
    } else if (response.status === 'not_authorized') {
      // Logged into Facebook but not your app
    } else {
      // Not logged into Facebook or your app
    }
  }
</script>

<script src="/js/app.js"></script>
</body>
</html>