body {
    background-size: cover;
    background-position: center center;
}

c {
    text-align: center;
}

t1 {
    color: orange;
    font-size: larger;
}

t2 {
    color: black;
    font-size: large;
}

b1 {
    color: white;
    font-size: small;
}

b2{
    color: gray;
    font-size: small;
}